@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #ffe6ec 0%, #fff9e6 100%);
  color: #ec5587;
  min-height: 100vh;
  
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid #FADADD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 1.9rem;
  color: #ec5587;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.subtitulo {
  font-size: 1rem;
  color: #7a7a7a;
  margin-bottom: 2rem;
  font-weight: 300;
}

.links a {
  display: block;
  background: #FADADD;
  color: #4a4a4a;
  text-decoration: none;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
}

.links a:hover {
  background: #ffe9a6;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.06);
}
